.myFrame {

    .frame-block-wrapper {

        padding-left: 90px;

        background-position:20px 36px;

    }
}

body {
    font-family: '微软雅黑';
}

.frame-block-wrapper {
    padding-left: 90px!important;
}