$image-url: "../images";
@import "./images.scss";
@mixin textOverFlow(){

    overflow: hidden;

    text-overflow: ellipsis;

    white-space: nowrap;

}
.Adm {
    position: relative;
    padding: 19px 52px;
    text-align: center;
    //公用
    .Adm-box {
        position: relative;
        text-align: left;
        margin: 0 auto;
        width: 100%;
        .Adm-top {
            position: relative;
            margin: 0;
            height: 37px;
            margin-top: 10px;
            .top-tips {
                float: left;
                .tips {
                    font-size: 18px;
                    line-height: 37px;
                    color: #333333;
                    padding-left: 25px;
                }
                .tips-location {
                    background: url(../images/icon-location-small.png) no-repeat center center;
                    background-size: 14px 19px;
                    background-position: left center;
                }
            }
            .top-nav {
                float: right;
                .link {
                    color: #0099ff;
                    font-size: 14px;
                    line-height: 37px;
                    text-decoration: underline;
                }
                .divide {
                    position: relative;
                    font-size: 14px;
                    color: #c9e1f0;
                    top: -1px;
                    margin: 0 12px;
                }
            }
            .top-btn {
                position: absolute;
                right: 0;
                //top: 50%;
                transform: translateY(-9px);
                box-sizing: content-box;
                color: #fff;
                font-size: 14px;
                box-shadow: 0px 5px 10px -5px #1ca5fe;
                -webkit-transform: translateY(-9px);
                -moz-transform: translateY(-9px);
                -ms-transform: translateY(-9px);
                -o-transform: translateY(-9px);
            }
        }
        .Adm-hr {
            position: relative;
            border-top: 1px dashed #ccc;
            width: 100%;
            margin: 0 auto;
        }
        .Adm-content {
            margin: 18px auto 0;
            position: relative;
            width: 100%;
            .content-top {
                position: relative;
                height: 28px;
                .dropdown_select_ul {
                    z-index: 2;
                }
                .dropdown_wrapper:nth-of-type(2) {
                    margin-left: 0;
                    margin-right: 3px;
                }
                .dropdown_container {
                    float: left;
                }
                .search_container {
                    float: right;
                }

            }

            .init-guide-title{

                float: left;

                margin: 16px 0;

                height: 28px;

                line-height: 28px;

                width: 100%;

                .tips{

                    float: left;

                    color: #999999;

                }

                .init-guide{

                    float: right;

                    width: 90px;

                    height: 28px;

                    line-height: 28px;

                    background-color: #77a5d8;

                    border-radius: 14px;

                    background-image: none;

                    font-size: 14px;

                    color: #ffffff;

                    text-align: center;

                    padding: 0;

                }

            }

            .content-render {
                margin-top: 16px;
                position: relative;
                .emptyBox{

                    margin-top: 100px;

                }
                .table {
                    .ant-table-thead {
                        th {
                            padding: 0 10px;
                            &:first-of-type {
                                padding: 0 39px;
                            }
                        }
                    }
                    .ant-table-tbody>tr {
                        height: 84px;
                    }
                    .ant-table-row {
                        td {
                            padding: 10px;
                            white-space: nowrap;
                            &:first-of-type {
                                padding: 10px 39px;
                            }
                            // &:last-of-type {
                            //     //width: 320px;
                            // }
                        }
                    }
                    .ant-table-column-title {
                        white-space: nowrap;
                    }
                    .SubjectName-content {
                        //margin-left: 17px;
                        font-size: 14px;
                        .SubjectName-name {
                            margin-left: 17px;
                            color: #333;
                        }
                    }
                    .Teacher {
                        color: #333;
                        font-size: 14px;
                        .handleName {
                            cursor: pointer;
                            display: inline-block;
                            color: #00b6fa;
                            width: 130px;
                            vertical-align: top;
                            overflow: hidden; //超出一行文字自动隐藏
                            text-overflow: ellipsis; //文字隐藏后添加省略号
                            white-space: nowrap; //强制不换行
                        }
                        .noHandle {
                            color: #999999;
                        }
                    }
                    //旧
                    .key-content {
                        font-size: 14px;
                        line-height: 23px;
                        color: #999;
                        margin: 0 3px;
                    }
                    .name-key {
                        font-size: 14px;
                        line-height: 23px;
                        color: #999;
                        margin: 0 3px;
                    }
                    .name-img {
                        margin: 0 6px;
                        cursor: pointer;
                        object-fit: cover;
                    }
                    .name-UserName {
                        text-decoration: underline;
                        color: #333;
                        font-size: 14px;
                        cursor: pointer;
                    }
                    .name-UserID {
                        font-size: 14px;
                        color: #999;
                    }
                    .UserID {
                        font-size: 14px;
                        color: #999;
                    }
                    .UserName {
                        font-size: 14px;
                        color: #999;
                    }
                    .Sign {
                        display: inline-block;
                        width: 300px;
                        color: #333;
                        font-size: 14px;
                        overflow: hidden; //超出一行文字自动隐藏
                        text-overflow: ellipsis; //文字隐藏后添加省略号
                        white-space: nowrap; //强制不换行
                    }
                    .Grader {
                        font-size: 14px;
                        color: #999;
                    }
                    .GradeName {
                        font-size: 14px;
                        color: #333;
                    }
                    .UserContact {
                        text-decoration: underline;
                        color: #0099ff;
                        font-size: 14px;
                        cursor: pointer;
                        &:active {
                            color: #ff6600;
                        }
                    }
                    .ClassName {
                        font-size: 14px;
                        color: #666;
                    }
                    .ant-checkbox-gray .ant-checkbox {
                        top: -3px;
                    }
                    .handle-btn {
                        //float: right;
                        height: 24px;
                        line-height: 24px;
                        font-size: 14px;
                        padding: 0 14px;
                        margin-right: 10px;
                    }
                }
                .checkAll-box {
                    margin-top: 10px;
                    .deleteAll {
                        color: #fff;
                        width: 56px;
                        line-height: 28px;
                        height: 28px;
                        padding: 0;
                        text-align: center;
                        margin-left: 8px;
                        box-sizing: content-box;
                    }
                    .changePwdAll {
                        color: #fff;
                        width: 108px;
                        line-height: 28px;
                        height: 28px;
                        padding: 0;
                        text-align: center;
                        margin-left: 8px;
                        box-sizing: content-box;
                    }
                }
                .ant-pagination {
                    text-align: center;
                    margin-top: 17px;
                }

                &.init-guide{

                    margin-top: 58px;

                }

            }
        }

        .table{

            &.init-guide{

                table-layout: fixed;

                tr>th{

                    height: 36px;

                    .ant-table-column-title{

                        color: #b8b8b8;

                    }

                }
                
                .Grades{

                    color: #999999;
                    
                }

                .handle-btn.init-guide{

                    background-repeat: no-repeat;

                    background-position: left center;

                    padding-left: 18px;

                    outline: none;

                    border:0!important;

                    background-color: transparent;

                    box-shadow: none;

                    text-decoration: underline;

                    &:hover{

                        opacity: 0.75;

                    }

                    &.edit{

                        color: #0249a5;

                        background-image: url("../images/edit-initGuide.png");

                        &:hover{

                            background-image: url("../images/edit-initGuide.png");

                        }

                    }

                    &.del{

                        color: #9a1601;

                        background-image: url("../images/del-initGuide.png");

                        &:hover{

                            background-image: url("../images/del-initGuide.png");

                        }

                    }

                }

            }

        }

    }
}
.alert_dialog_mask{

    &.isInitGuide{

        display: none!important;

    }

}