@import "./public-minx.scss";
.school-InfoSetting {
    position: relative;
    top: 0px;
    right: 0px;
    // width: 944px;
    height: 626px;
    margin: 0 auto;
    //   box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.03);
    border-radius: 12px;
    background: url("../images/school_bg.jpg") no-repeat;
    background-size: cover;
    box-sizing: border-box;
    .edite-info {
        position: absolute;
        top: 33px;
        right: 48px;
        // top: 0;
        width: 48px;
        height: 16px;
        line-height: 18px;
        color: #0099ff;
        cursor: pointer;
        font-size: 14px;
        span {
            float: left;
            width: 16px;
            height: 16px;
            background: url("../images/icon-edit.png") no-repeat;
            margin-right: 4px;
        }
        &:hover {
            color: #ff6600;
            span {
                background: url("../images/icon-edit-hover.png") no-repeat;
            }
        }
    }
    // .edite-info {
    //   position: absolute;
    //   top: 33px;
    //   right: 48px;
    //   width: 48px;
    //   height: 16px;
    //   line-height: 18px;
    //   color: #ccc;
    //   cursor: pointer;
    //   font-size: 14px;
    //   span {
    //     float: left;
    //     width: 16px;
    //     height: 16px;
    //     background: url("../images/edite_logo.png") no-repeat;
    //     margin-right: 4px;
    //   }
    //   &:hover {
    //     color: #0099ff;
    //   }
    // }
    .school-logo {
        @include Hcenter();
        top: 111px;
        width: 124px;
        height: 124px;
        // background-color: red;
        border-radius: 50%;
        border: 2px solid #ccc;
        padding: 3px 3px;
        overflow: hidden;
        img {
            @include Center();
            // max-width: 118px;
            // max-height: 118px;
            width: 124px;
            height: 124px;
            border-radius: 50%;
        }
    }
    .school-name {
        @include Hcenter();
        top: 256px;
        width: 600px;
        height: 30px;
        font-family: MicrosoftYaHei-Bold;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #006499;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        cursor: default;
    }
    .school-badge {
        line-height: 40px;
        margin: 6px 0;
        .SchoolLogoUrl_Long {
            display: inline-block;
            vertical-align: top;
            width: 280px;
            height: 40px;
            margin-left: 12px;
            // background-color: #ffffff;
            border-radius: 3px;
            border: solid 1px #e5e5e5;
        }
    }
    .school-info {
        position: absolute;
        top: 332px;
        left: 313px;
        width: 445px;
        height: 47px;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: 0px;
        color: #999999;
        .school-code,
        .school-type {
            margin: 6px 0;
            cursor: default;
            span {
                color: #000;
                margin-left: 5px;
            }
        }
    }
}

.editContent {
    height: 300px;
    // background: olive;
    .content-left {
        position: absolute;
        left: 0;
        top: 0;
        width: 192px;
        height: 100%;
        // background: url("../images/conten_left_bg.png") no-repeat;
        background-color: #f5f5f5;
        .school-logo {
            @include Hcenter();
            top: 36px;
            width: 130px;
            height: 130px;
            //   background: url("../images/school_pic_bg.png") no-repeat;
            //   border: 1px solid #999999;
            overflow: hidden;
            img {
                @include Center();
                max-width: 130px;
                max-height: 130px;
            }
        }
        .choose-pic,
        .upload-pic {
            @include Hcenter();
            top: 174px;
            width: 130px;
            height: 28px;
            background: url("../images/modify_cancel.png");
            background-size: cover;
            //   border: none;
            border-radius: 4px;
            font-family: MicrosoftYaHei;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            color: #ffffff;
            text-align: center;
            line-height: 28px;
            cursor: pointer;
            input {
                margin: auto auto;
            }
        }
        .upload-pic {
            top: 210px;
            background: url("../images/modify_sure.png");
            background-size: cover;
        }
        .upload-tips {
            @include Hcenter();
            top: 253px;
            width: 151px;
            height: 52px;
            font-family: MicrosoftYaHei;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 20px;
            letter-spacing: 0px;
            color: #999999;
        }
    }
    .content-right {
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 30px;
        width: 532px;
        height: 100%;
        width: calc(100% - 192px);
        .win-shcool-name {
            // position: absolute;
            // left: 31px;
            // top: 64px;
            // width: 400px;
            // height: 28px;
            // line-height: 28px;
            input {
                width: 320px;
                height: 28px;
                margin-left: 8px;
                background-color: #ffffff;
                border-radius: 4px;
                border: solid 1px #bac7d9;
                padding-left: 10px;
                color: #000;
            }
        }
        .win-school-code {
            // position: absolute;
            // top: 108px;
            // left: 31px;
            // width: 260px;
            // height: 28px;
            // background: blue;
            input {
                margin-left: 8px;
                border: none;
                width: 180px;
                height: 28px;
                background-color: #ffffff;
                border-radius: 4px;
                border: solid 1px #bac7d9;
                padding-left: 10px;
                color: #000;
            }
        }
        .School-Code {
            line-height: 30px;
            padding-left: 10px;
            font-size: 16px;
        }
        .win-school-type {
            // width: 350px;
            // height: 108px;
            // margin-left: 31px;
            // margin-top: 152px;
            // position: relative;
            .primary-school,
            .middle-school,
            .high-school {
                // height: 28px;
                // position: absolute;
                // left: 67px;
                // top: 0;
                // line-height: 28px;
                span {
                    display: inline-block;
                    width: 60px;
                    height: 28px;
                    border: solid 1px #bac7d9;
                    line-height: 28px;
                    text-align: center;
                    font-family: MicrosoftYaHei-Bold;
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    letter-spacing: 0px;
                    color: #ccc;
                    cursor: pointer;
                    &.click {
                        background: url("../images/select_bg.png") top right no-repeat;
                        color: #2ba500;
                        border: solid 1px #2ba500;
                        background-color: #e9ffe9;
                    }
                }
                i {
                    display: inline-block;
                    width: 6px;
                    height: 8px;
                    background: url("../images/triangle.png");
                    margin: 0 8px 0 9px;
                }
                input {
                    margin-left: 10px;
                    margin-right: 3px;
                    color: #2ba500;
                     :nth-child(2) {
                        margin-left: 20px;
                        color: #2ba500;
                    }
                }
            }
            .middle-school {
                position: absolute;
                top: 40px;
            }
            .high-school {
                position: absolute;
                top: 80px;
            }
        }
        .edit-tips {
            position: absolute;
            top: 40px;
            left: 0px;
            width: 438px;
            margin-left: 31px;
            height: 22px;
            line-height: 22px;
            // line-height: 22px;
            color: red;
            font-size: 14px;
            padding-left: 26px;
            font-weight: bold;
            span {
                @include Vcenter();
                display: inline-block;
                width: 16px;
                height: 22px;
                background: url("../images/light_but.png");
                //  background: url('http://img.lancoo.cn/test/123');
                margin-right: 8px;
            }
        }
        .row {
            line-height: 36px;
            position: relative;
            .left {
                float: left;
                width: 18%;
                text-align: right;
                padding-right: 10px;
                // line-height: 28px;
            }
            .right {
                float: left;
                width: 82%;
                .radio {
                    margin-right: 8px;
                    vertical-align: top;
                }
                .dropdown_container {
                    vertical-align: top;
                }
                .area-check-wrapper {
                    position: relative;
                    z-index: 10;
                    .dropdown_wrapper {
                        width: 110px !important;
                        .dropdown_default_span {
                            width: 110px !important;
                        }
                        .dropdown_select_ul {
                            width: 110px !important;
                        }
                    }
                }
            }
        }
        .row-SchoolBadge {
            margin: 12px 0;
            .left {
                line-height: 40px;
            }
        }
    }
}