body{

  background-color: #ffffff!important;

  font-family: "Microsoft YaHei";

}

.init-guid-header{

  background: url("./images/header-bg.png") no-repeat center;

  min-width: 1200px;

  .header-content-wrapper{

    height:128px;

    position: relative;

    width: 1200px;

    margin: 0 auto;

  }

}

