.frame-nav-content {
    position: relative;
}

label {
    cursor: pointer;
}

.mainFrame {
    .frame-fluid {
        position: relative;
        //   padding: 0;
        padding: 30px 36px !important;
        background: #fff !important;
    }
    .frame-block-wrapper {
        padding-left: 100px!important;
    }
}

.Modal-1 .ant-modal-body {
    overflow: visible;
}

.ant-tooltip {
    z-index: 2002!important;
}

body {
    font-family: '微软雅黑';
}