.again-select-course-modal{

  .box-top{

    margin-bottom:16px;

    &>*{

      float: left;

    }

  }


  .box-content{

    &>*{

      float: left;

    }

    .props{

      line-height: 32px;

    }

    .course-select-wrapper{

      margin-left: 8px;

    }

    .btns-wrapper{

      margin-bottom: -1px;

      .ant-btn{

        position: relative;

        border-bottom-left-radius:0;

        border-bottom-right-radius:0;

        height:28px;

        width: 64px;

        color: #333333;

        background-color: #f1f3f6;

        border:1px solid #f1f3f6;

        border-bottom-color:#bac7d9;

        box-shadow:none;

        &:hover{

          opacity: 0.8;

        }

        &:after{

          position: absolute;

          content: '';

          width: 1px;

          height: 10px;

          background-color: #bac7d9;

          right:1px;

          top: 50%;

          transform: translateY(-50%);

        }

        &:first-child{

          border-top-left-radius:3px;

        }

        &:last-child{

          border-top-right-radius:3px;

          &:after{

            display: none;

          }

        }

        &.active{

          border:1px solid #bac7d9;

          border-bottom:1px solid #ffffff;

          background-color: #ffffff;

          &:after{

            display: none;

          }

        }

      }



    }

    .course-class-wrapper{

      border: 1px solid #cccccc;

      border-radius: 4px;

      border-top-left-radius:0;

      width: 420px;

      .top-search{

        padding: 10px 0;

        .search_container{

          float: right;

          margin-right:10px;

        }

      }

      li{

        margin: 0 22px;

        height: 42px;

        line-height: 42px;

        border-bottom: 1px solid #ebebeb;

        &:hover{

          background-color:#efefef;

        }

        &>*{

          float: left;

          text-align: center;

        }

        .class-name{

          position: relative;

          text-align: left;

          width:160px;

          padding: 0 4px 0 18px;

          @include textOverFlow;

          &:after{

            position: absolute;

            content:'';

            left:0;

            top:50%;

            transform: translateY(-50%);

            width: 6px;

            height: 6px;

            border-radius: 50%;

            background-color: #bcced6;

          }

          span{

            color: #0099ff;

            text-decoration: underline;
            
            cursor: pointer;
            
            &:hover{

              color: #ff6600;
              
            }

          }

        }

        .teacher-name{

          width:90px;

          padding: 0 4px;

          @include textOverFlow;

        }

        .count{

          width:46px;

          @include textOverFlow;

        }

        .opreate{

          width: 78px;

          .ant-btn-primary{

            background-color:#ffffff;

            border: 1px solid #40cbff;

            color: #0099ff;

            width: 56px;

            font-size: 14px;

            &.active{

              background-color: #dce7ee;

              border-color:transparent;

              color: #5687a8;

            }

          }

        }


      }

    }

  }


  .props{

    width:126px;

    text-align: right;

    line-height: 28px;

  }

}