.stu-content-wrapper{

  .list-wrapper{

    padding: 30px 58px;

  }

  .card-box-student{
    width: 340px;
    position:relative;
    display:inline-block;
    height:162px;

    margin:0 32px 28px 0;

    &:nth-child(3n){

      margin-right: 0;

    }



    &:after{

      position: absolute;

      content: '';

      bottom: -4px;

      left:50%;

      transform: translateX(-50%);

      width: 332px;

      height: 36px;

      background-color:rgba(13,181,143,0.2);

      border-radius: 6px;

      z-index: 1;

    }

    .box-main {

      display: inline-block;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      border: 1px solid #17d7a7;
      border-radius: 4px;
      background: #ffffff;

      .main-content {
        position: relative;

        margin: 0 auto;

        .content-tips {
          font-size: 16px;
          height: 42px;
          text-align: center;
          color: #0b5e4b;
          margin-bottom: 0;
          line-height: 42px;
          background: url("../images/img-green-wave.png") no-repeat center;
          background-size: cover;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .content-hr {
          border-top: 1px dashed #1790e5;
          opacity: 0.5;
          width: 100%;
        }
        .content-details {
          width: 100%;
          margin-top:20px;
          .details-row {
            height:18px;
            line-height: 18px;
            margin-bottom: 10px;
            width: 100%;
            .left {
              float: left;
              width: 84px;
              line-height: 24px;
              font-size: 12px;
              color: #999999;
              text-align: right;
            }
            .right {
              float: right;
              width:254px;
              text-align: left;
              line-height: 24px;
              font-size: 14px;
              color: #333333;

              @include textOverFlow;

              .ant-btn-link{

                float: right;

                line-height:18px;

                height:18px;

                margin-right: 24px;

                padding:0;
                
                color: #0099ff;
                
                &>span{

                  text-decoration: underline;

                }
                
                &:hover{

                  color: #ff6600;
                  
                }

              }

              &>*{

                float: left;

                &:first-child{

                  max-width: 164px;

                  @include textOverFlow;

                }

              }

            }

          }
        }
        }

    }

    &:hover {

      .box-main{

        border-color: #87d3ff;

        .content-tips{

          background-image: url("../images/img-blue-wave.png");

          color: #075886;

        }

      }

      &:after{

        background:rgba(33,122,255,0.2);

      }

    }

  }

}