.stu-course-class-wrapper{

  .title-bar{

    height: 36px;

    margin: 22px 32px 0 54px;

    line-height: 36px;

    border-bottom: 1px dashed #cccccc;

    .title-word{

        font-size: 18px;

        color: #333333;

        font-weight: bold;

    }

    .ant-btn-link{

      float: right;

      font-size: 16px;

    }

  }

}