.class-total-student-wrapper{

  .class-name{

    float: left;

    color: #333333;

    margin-left: 18px;

    line-height: 30px;

    &.unset{

      color: #999999;

    }

  }

  /*.single-double-table{

    margin: 0 auto;

  }*/

  .empty-class{

    margin-top: 100px;

  }

}

.teacher-class-total{

  .empty-class{

    margin-top: 70px;

  }

}